footer {
    background-color: #13191c;
    padding: 1px;
    color: #fff;
    text-align: center;
}

/* media queries */
@media (max-width: 500px) {
    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    footer {
        font-size: 0.8rem;
    }
}