header {
    background-color: #13191c;
    padding: 1px;
    color: #fff;
    padding-top: 50px;
}

header p {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}

/* neon text effect inspired by a PEN BY Matt Smith */

header h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.5rem;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.filterBarComponent button {
    border-radius: 0;
}

.filterBarComponent input {
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    margin-top: 2%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
}

input:focus {
    outline: 2px solid #2acb99;
}

::placeholder {
    color: #fff;
}

.filterBarComponent {
    text-align: center;
}

/* media queries */


@media (max-width: 515px) {
    .filterBarComponent button {
        width: 80%;
        margin-top: 2%;
    }
    .filterBarComponent input {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    header p {
        font-size: 0.9rem;
        width: 80%;
        margin: 0 auto;
    }
}


@media (max-width: 360px) {
    header p {
        font-size: 0.8rem;
    }
}