.savedMoviesList {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.savedMoviesComponent h2 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
}

.savedMoviesComponent {
    background-color: #172023;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 50px;
}

.watchListComponent {
    padding: 20px 0;
}

.watchListComponent img {
    box-shadow: 0 15px 40px rgba(255,255,255, .1);
    transition: all .3s;
}

.watchListComponent img:hover {
    transform: scale(1.05) translateY(-5px);
	box-shadow: 0 25px 40px rgba(255,255, 255, .15);			
}

.watchListComponent button {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.watchListComponent h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

/* media queries */

@media (max-width: 650px) {
    .watchListComponent button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}