.savedMoviesList {
    display: flex;
    /* flex-direction: row; */
    /* text-align: center; */
    text-align: center;
    /* display: block; */
    justify-content: space-around;
    flex-wrap: wrap;
}

.savedMoviesComponent h2 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
}

.savedMoviesComponent {
    background-color: #172023;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 50px;
}
/* img {
    width: 50%;
} */

.watchListComponent {
    padding: 20px 0;
}

.watchListComponent img {
    box-shadow: 0 15px 40px rgba(255,255,255, .1);
    transition: all .3s;
}

.watchListComponent img:hover {
    transform: scale(1.05) translateY(-5px);
	box-shadow: 0 25px 40px rgba(255,255, 255, .15);			
}

.watchListComponent button {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}